<div class="tw-fixed tw-bg-white tw-border-b tw-w-full tw-z-20 tw-shadow-sm">
  <div class="row tw-p-3">
    <div class="col-md-6 tw-mb-7 md:tw-mb-0">
      <h1 class="tw-text-4xl tw-font-bold">Business Profile</h1>
      <span class="tw-text-sm tw-capitalize  text-muted">Manage your personal information & security settings</span>
    </div>
    <div class="col-md-6 tw-flex tw-items-center tw-justify-end tw-gap-1">
      <button type="button" class="tw-btn-outline-primary tw-flex tw-items-center tw-gap-1">
        <i
          class="ph-fill ph-youtube-logo bg-white tw-text-md text-danger tw-w-2 tw-h-2 tw-flex tw-items-center tw-justify-center tw-me-1"></i>
        Watch Tutorial
      </button>
      <button type="button" class="tw-btn-primary tw-flex tw-items-center tw-gap-1">
        <i class="ph-bold ph-arrows-clockwise"></i> Sync Changes
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card tw-mt-[200px] md:tw-mt-[130px]">
    <div class="card-body tw-grid tw-grid-cols-1 lg:tw-grid-cols-6 tw-gap-4">

      <!-- Registered Number -->
      <div class="tw-flex tw-flex-col lg:tw-border-e tw-border-gray-300">
        <span class="tw-text-gray-600 tw-font-medium">Registered Number</span>
        <span class="tw-text-gray-900 tw-text-sm ">+91 70168 75366</span>
      </div>

      <!-- Verified Name -->
      <div class="tw-flex tw-flex-col lg:tw-border-e tw-border-gray-300">
        <span class="tw-text-gray-600 tw-font-medium">Verified Name</span>
        <span class="tw-text-gray-900 tw-text-sm ">Engees Ecommerce</span>
      </div>

      <!-- Status -->
      <div class="tw-flex tw-flex-col lg:tw-border-e tw-border-gray-300">
        <span class="tw-text-gray-600 tw-font-medium">Status</span>
        <span class="tw-text-green-500 tw-text-sm  tw-font-semibold">CONNECTED</span>
      </div>

      <!-- Messaging Tier -->
      <div class="tw-flex tw-flex-col lg:tw-border-e tw-border-gray-300">
        <span class="tw-text-gray-600 tw-font-medium">Messaging Tier</span>
        <span class="tw-text-gray-900 tw-text-sm ">TIER_1K (1,000 Messages / 24hrs)</span>
      </div>

      <!-- Quality Rating -->
      <div class="tw-flex tw-flex-col lg:tw-border-e tw-border-gray-300">
        <span class="tw-text-gray-600 tw-font-medium">Quality Rating</span>
        <span class="tw-text-green-500 tw-text-sm  tw-font-semibold">GREEN</span>
      </div>

      <!-- Account Mode -->
      <div class="tw-flex tw-flex-col">
        <span class="tw-text-gray-600 tw-font-medium">Account Mode</span>
        <span class="tw-text-gray-900">LIVE</span>
      </div>

    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-9 mb-3">
      <div class="card">
        <div class="card-header">
          <h1 class="tw-text-md tw-font-bold">WhatsApp Business Account</h1>
          <span class="text-muted tw-text-xs">Update WhatsApp Business & Contact Information</span>
        </div>
        <div class="card-body">

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">WhatsApp Business display name
              <code>*</code></label>
            <input type="name" class="form-control" disabled id="bName" placeholder="Enter your display name" />
          </div>


          <div class="col-md-12 mb-3">
            <label for="bDesc" class="form-label">Business Description
              <code>*</code></label>
            <textarea name="" id="bDesc" class="form-control"></textarea>
            <span class="form-sub-label tw-flex justify-content-end">
              70 / 256 characters
            </span>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Business address
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span>Street, house number, zip code, city, state, country</span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Contact email
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span>Public contact email for your business</span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Status text
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span>This is the status text displayed in your business profile on WhatsApp</span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Business website
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span>Public URL to your business website</span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Other URL
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span>Public URL to one of your business websites, e.g. Instagram, Facebook profile, etc.</span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Brand image</label>
            <div class="mb-3">
              <input type="file" class="form-control" name="" id="bName" aria-describedby="helpId" placeholder="" />
              <small class="form-sub-label">(minimum 500px, x 500px, recommended 640px x 640px, max 5
                MB) Image should be squared, otherwise it will be cropped by
                WhatsApp.</small>
            </div>

          </div>

          <div class="col-md-12 mb-3">
            <label for="bName" class="form-label">Business category
              <code>*</code></label>
            <input type="name" class="form-control" id="bName" placeholder="Enter your display name" />
            <div class="form-sub-label tw-flex justify-content-between align-items-center">
              <span></span>
              <span>72 / 256 character</span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <h1 class="tw-text-2xl">Business Hours</h1>
            <span class="tw-text-gray-600 tw-text-sm">
              Set the days and times that your organization considers as your buisness/working hours
            </span>
          </div>

          <hr class="tw-py-2">

          <div class="row mb-2">
            <div class="col-md-3 tw-flex tw-items-center gap-3 mb-2">
              <span class="tw-text-gray-700 ps-2">Monday</span>
              <div class="form-check form-switch md:tw-hidden tw-flex tw-items-center">
                <input
                  class="form-check-input focus:tw-ring-0 focus:tw-outline-none active:tw-ring-0 active:tw-outline-none"
                  type="checkbox" role="switch">
              </div>
            </div>
            <div class="col-md-6 tw-flex tw-justify-between tw-items-center gap-1 mb-2">
              <input type="time" class="form-control tw-w-[45%]" />
              <input type="time" class="form-control tw-w-[45%]" />
            </div>
            <div class="col-md-3 mb-2 tw-hidden md:tw-flex md:tw-items-center">
              <div class="form-check form-switch">
                <input
                  class="form-check-input focus:tw-ring-0 focus:tw-outline-none active:tw-ring-0 active:tw-outline-none"
                  type="checkbox" role="switch">
              </div>
            </div>
          </div>

          <div class="col-md-12 my-3">
            <h1 class="tw-text-2xl">Queue - Archive Chats Settings</h1>
            <span class="tw-text-gray-600 tw-text-sm">
              Configure the days for The Queue and Archive Chats
            </span>
          </div>

          <hr class="tw-py-2">

          <div class="row mb-2">
            <div class="col-md-4 tw-flex tw-items-center gap-3 mb-2">
              <span class="tw-text-gray-700 tw-text-sm">From Customer Last Messages Move to Queue Messages</span>
            </div>
            <div class="col-md-8 tw-flex tw-justify-start tw-items-center gap-2 mb-2">
              <input type="text" class="form-control tw-w-[35%]">
              <span class="tw-text-gray-700">Days</span>
            </div>
            <div class="col-md-6 mb-2">
              <span class="tw-text-sm tw-text-red-500">Please enter absolute digit, floating points not allowed.
                <br>
                <b>eg: 9</b>
              </span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 tw-flex tw-items-center gap-3 mb-2">
              <span class="tw-text-gray-700 tw-text-sm">From Customer Last Messages Move to Archive Messages</span>
            </div>
            <div class="col-md-8 tw-flex tw-justify-start tw-items-center gap-2 mb-2">
              <input type="text" class="form-control tw-w-[35%]">
              <span class="tw-text-gray-700">Days</span>
            </div>
            <div class="col-md-6 mb-2">
              <span class="tw-text-sm tw-text-red-500">Please enter absolute digit, floating points not allowed.
                <br>
                <b>eg: 9</b>
              </span>
            </div>
          </div>

          <div class="col-md-12 my-3">
            <h1 class="tw-text-2xl">Queue - Archive Chats Settings</h1>
            <span class="tw-text-gray-600 tw-text-sm">
              Configure the days for The Queue and Archive Chats
            </span>
          </div>

          <hr class="tw-py-2">

          <div class="row mb-2">
            <div class="col-md-3 tw-flex tw-items-center gap-3 mb-2">
              <span class="tw-text-gray-700 tw-text-sm">Select Default Country Code</span>
            </div>
            <div class="col-1 tw-flex tw-justify-start tw-items-center gap-2 mb-2">
              <div class="form-check form-switch">
                <input
                  class="form-check-input focus:tw-ring-0 focus:tw-outline-none active:tw-ring-0 active:tw-outline-none"
                  type="checkbox" role="switch">
              </div>
            </div>

            <div class="col-md-6 mb-2 text-start">
              <ng-select [items]="countries" [(ngModel)]="selectedCountry" bindLabel="displayLabel"
                placeholder="Select Country" bindValue="countrycallingcode">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span class="tw-text-gray-700 tw-text-md">{{ item.countryname }}</span>
                  <h6 class="tw-text-sm">Country Calling Code: <b>+{{ item.countrycallingcode }}</b>
                  </h6>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="card-footer tw-flex tw-justify-end tw-gap-2 tw-items-center">
          <button type="button" class="tw-btn-outline-secondary">Reset</button>
          <button type="button" class="tw-btn-primary">Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card profilepreview mb-3 px-3 py-3">
        <h4>Preview</h4>
        <div
          class="tw-flex tw-items-center tw-justify-between tw-bg-primary tw-text-white tw-px-2 tw-py-1 tw-rounded-t-md mt-2">
          <span class="tw-text-sm">12:42</span>
          <span class="tw-flex tw-gap-1">
            <i class="ph ph-bell-simple-slash"></i>
            <i class="ph ph-cell-signal-high"></i>
            <i class="ph ph-battery-vertical-medium"></i>
          </span>
        </div>
        <div class="tw-relative">
          <img src="images/engees_logo.jpg" alt="engees_logo" class="tw-w-full tw-object-cover tw-shadow-inner">
          <div
            class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-flex tw-items-center tw-justify-between tw-p-2  tw-text-white tw-text-lg">
            <i class="ph-bold ph-arrow-left"></i>
            <i class="ph-duotone ph-dots-three-outline-vertical"></i>
          </div>
          <div class="tw-ps-3 tw-pb-5 tw-text-[30px] tw-text-white tw-w-full tw-absolute tw-bottom-0 tw-left-0">
            Engees Ecommerce
          </div>
        </div>
        <div class="tw-p-1 tw-bg-gray-300 tw-w-full"></div>
        <div class="tw-flex tw-flex-col tw-gap-1 tw-border-x tw-py-4">
          <div class="tw-flex tw-justify-around tw-items-center tw-w-full tw-gap-4 tw-p-2">
            <div class=" tw-text-2xl tw-text-primary">
              <i class="ph-duotone ph-storefront"></i>
            </div>
            <div class="tw-text-sm tw-w-full">
              Shopify App and NodeJS Development Company based in Surat, Gujarat. Ok
            </div>
          </div>
          <div class="tw-flex tw-justify-around tw-items-center tw-w-full tw-gap-4 tw-p-2">
            <div class="tw-text-2xl tw-text-primary">
              <i class="ph-duotone ph-map-pin-area"></i>
            </div>
            <div class="tw-text-sm tw-w-full">
              202-203, Oberon, New City Light Road, Surat - 395007, Gujarat, India. Ok
            </div>
          </div>
          <div class="tw-flex tw-justify-around tw-items-center tw-w-full tw-gap-4 tw-p-2">
            <div class=" tw-text-2xl tw-text-primary ">
              <i class="ph-duotone ph-tag"></i>
            </div>
            <div class="tw-text-sm tw-w-full">
              OTHERS
            </div>
          </div>
          <div class="tw-flex tw-justify-around tw-items-center tw-w-full tw-gap-4 tw-p-2">
            <div class=" tw-text-2xl tw-text-primary ">
              <i class="ph-duotone ph-envelope-simple"></i>
            </div>
            <div class="tw-text-sm tw-w-full">
              whatsapp1engees.in
            </div>
          </div>
          <div class="tw-flex tw-justify-around tw-items-center tw-w-full tw-gap-4 tw-p-2">
            <div class="tw-text-2xl tw-text-primary">
              <i class="ph ph-globe-hemisphere-west"></i>
            </div>
            <div class="tw-text-sm tw-w-full">
              <span class="tw-w-full tw-flex tw-justify-between align-items-start tw-flex-col">
                <span>https://engees.in/</span>
                <span>https://www.facebook.com/engees.ecommerce</span>
              </span>
            </div>
          </div>
        </div>
        <div class="tw-p-1 tw-bg-gray-300 tw-w-full"></div>
        <div class="tw-flex tw-flex-col tw-gap-1 tw-border-x tw-p-2">
          <div class="tw-my-3 tw-flex tw-flex-col tw-gap-3">
            <span class="tw-text-md tw-text-primary tw-capitalize">
              About and phone number
            </span>
            <span class="tw-text-[1rem]">
              Welcome to 11za.
            </span>
          </div>
          <hr class="tw-border-gray-500">
          <div class="tw-p-1 tw-py-2 tw-flex tw-justify-between tw-items-center tw-w-full">
            <span>+91-7016875366</span>
            <i class="ph-duotone ph-chat-text tw-text-3xl tw-text-primary"></i>
          </div>
        </div>
        <div class="tw-p-1 tw-bg-gray-300 tw-w-full"></div>
        <div class="tw-p-1 tw-bg-black tw-w-full tw-flex tw-py-3 rounded-bottom tw-justify-center tw-items-center mb-2">
          <span class="tw-w-[20%] tw-py-1 tw-rounded-md tw-bg-white"></span>
        </div>
      </div>
    </div>
  </div>
</div>