<div class="container px-4 px-sm-0 ">
    <div class="row my-5">
        <div class="col-md col tw-leading-9">
            <h1 class="fs-1 fw-medium tw-text-blue-950">Roles</h1>
            <div class="text-muted fw-medium">Manage Roles</div>
        </div>
        <div class="col-md-auto col-auto tw-space-x-2">
            <button type="button" class="tw-btn-outline-primary" (click)="onaddRoles()">
                <i class="ph-bold ph-plus"></i>
              </button>
        </div>
        <div class="card tw-mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md col">
                        <div class="tw-relative ms-3">
                            <input type="text" class="tw-form-control-search" placeholder="Search">
                            <i
                              class="ph-bold ph-magnifying-glass tw-absolute tw-left-0 tw-translate-y-[70%] tw-text-gray-400 tw-font-bold"></i>
                          </div>
                    </div>
                    <div class="col-md-6 col-6 tw-flex tw-items-center tw-justify-end">
                        <select class="form-select lg:tw-w-1/4">
                          <option value="10">10 per page</option>
                          <option value="20">20 per page</option>
                          <option value="50">50 per page</option>
                          <option value="100">100 per page</option>
                          <option value="200">200 per page</option>
                        </select>
                      </div>
                </div>

                <div class="table-responsive mt-4">
                    <table class="table table-hover table-striped tw-text-[16px]">
                        <thead class="table-bordered">
                            <tr class="text-muted">
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Team Member</th>
                                <th class="text-center" width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>
                                    Administration
                                </td>
                                <td class="text-center"><span class="badge bg-secondary">0</span></td>
                                <td class="text-center d-flex tw-space-x-3">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                    </div>
                                    <button>
                                        <i class="ph-fill ph-pencil-simple-line text-secondary"></i>
                                    </button>
                                    <button>
                                        <i class="ph-fill ph-trash-simple text-secondary"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Administration
                                </td>
                                <td class="text-center"><span class="badge bg-info">0</span></td>
                                <td class="text-center d-flex tw-space-x-3">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                    </div>
                                    <button>
                                        <i class="ph-fill ph-pencil-simple-line text-secondary"></i>
                                    </button>
                                    <button>
                                        <i class="ph-fill ph-trash-simple text-secondary"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Administration
                                </td>
                                <td class="text-center"><span class="badge bg-info">0</span></td>
                                <td class="text-center d-flex tw-space-x-3">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                    </div>
                                    <button>
                                        <i class="ph-fill ph-pencil-simple-line text-secondary"></i>
                                    </button>
                                    <button>
                                        <i class="ph-fill ph-trash-simple text-secondary"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination d-flex justify-content-end">
                    <pagination-controls class="pagination"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-roles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold tw-text-[23px] tw-text-[#192249]" id="staticBackdropLabel">
                    Add New Roles
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="Name">Name <code>*</code></label>
                            <input type="text" name="" id="" placeholder="User Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" /><span class="ms-2">Active / Inactive</span>
                              </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="tw-btn-save tw-text-md">Submit</button>
                        <button type="reset" class="btn btn-secondary text-white">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="import" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold tw-text-[23px] tw-text-[#192249]" id="staticBackdropLabel">
                    Import
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="Download Sample"><span class="text-primary">Download Sample </span><code>*</code> to
                        imports
                        customers.</label>
                    <div class="col-md-2 mt-2">
                        <div class="form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div>(Turn on the Toggle only if your sheet is not having country code)</div>
                    </div>
                    <div class="col-md-6">
                        <label for="">Default value for contacts with missing Country code <code>*</code></label>
                        <!-- <ng-select [items]="country"></ng-select> -->
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>