<div class="row">
    <div class="card border-0 p-0">
        <div class="card-body ">
            <div class="head d-md-flex justify-content-md-between tw-font-normal mt-2">
                <h1 class="tw-text-2xl tw-font-medium">Top-ups</h1>
                <div class="tw-text-right md:tw-text-left">
                    <div>Current Month Free Service Conversations: <span class="tw-font-bold">0</span></div>
                    <div>Current Wallet Balance: <span class="tw-font-bold">₹ 1,207.08</span></div>
                  </div>
            </div>
            <div class="row mt-4 mt-sm-5">
                <div class="col-md-6 col-6">
                  <div class="tw-relative ms-3">
                    <input type="text" class="tw-form-control-search" placeholder="Search">
                    <i
                      class="ph-bold ph-magnifying-glass tw-absolute tw-left-0 tw-translate-y-[70%] tw-text-gray-400 tw-font-bold"></i>
                  </div>
                </div>
                <div class="col-md-6 col-6 tw-flex tw-items-center tw-justify-end">
                  <select class="form-select lg:tw-w-1/4">
                    <option value="10">10 per page</option>
                    <option value="20">20 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                    <option value="200">200 per page</option>
                  </select>
                </div>
              </div>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-hover ">
                    <thead class="table-bordered">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Transaction Date</th>
                            <th class="text-center">Transaction ID</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">With GST</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">28-Sep-2024 15:54</td>
                            <td class="text-center">customer_1727519093650</td>
                            <td class="text-center">₹100.00</td>
                            <td class="text-center">₹118</td>
                            <td class="text-center">pending</td>
                            <td class="text-center">
                                <button type="button" class="tw-btn-primary">Invoice</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">28-Sep-2024 15:54</td>
                            <td class="text-center">customer_1727519093650</td>
                            <td class="text-center">₹100.00</td>
                            <td class="text-center">₹118</td>
                            <td class="text-center">pending</td>
                            <td class="text-center">
                                <button type="button" class="tw-btn-primary">Invoice</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">28-Sep-2024 15:54</td>
                            <td class="text-center">customer_1727519093650</td>
                            <td class="text-center">₹100.00</td>
                            <td class="text-center">₹118</td>
                            <td class="text-center">pending</td>
                            <td class="text-center">
                                <button type="button" class="tw-btn-primary">Invoice</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <pagination-controls class="pagination"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>