<div class="tw-flex tw-h-screen tw-items-center tw-justify-center tw-bg-login-bg tw-bg-[#e5ddd5]">
  <div class="col-lg-3 col-md-6 col-sm-8 col-xs-10 tw-flex tw-flex-col">
    <img src="/images/logo.png" class="tw-mx-auto tw-w-[200px]" alt="11za logo" />
    <h5 class="tw-mb-[12px] tw-text-[17.5px] tw-font-bold text-center">Forgot Password</h5>
    <span class="tw-m-0 tw-p-0 tw-mb-[24px] tw-text-[15px] tw-font-normal text-center text-muted">
      We are Different, We Make You Different.
    </span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" formControlName="email"
          class="form-control tw-rounded-[.25rem] tw-px-3 tw-py-[10px] tw-placeholder-gray-400 {{ form.get('email')?.invalid && form.get('email')?.touched ? 'tw-invalid' : ''}} tw-text-[#495057] tw-border tw-border-[#ced4da] leading-[1.5] focus:tw-border-[#80bdff] focus:tw-outline-none focus:tw-ring-0"
          id="email" aria-describedby="helpId" placeholder="Enter Team Member email" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger tw-ms-1">
          <small *ngIf="form.get('email')?.hasError('required')">Email is required</small>
          <small *ngIf="form.get('email')?.hasError('email')">Invalid email address</small>
        </div>
      </div>

      <div class="mb-3 tw-relative">
        <input type="text" formControlName="apiNumber"
          class="form-control tw-rounded-[.25rem] tw-px-3 tw-py-[10px] tw-placeholder-gray-400 tw-text-[#495057] tw-border tw-border-[#ced4da] leading-[1.5] focus:tw-border-[#80bdff] focus:tw-outline-none focus:tw-ring-0"
          placeholder="Enter Registered WaBA API Number" aria-label="Password" aria-describedby="basic-addon2">
        <div *ngIf="form.get('apiNumber')?.invalid && form.get('apiNumber')?.touched" class="text-danger tw-ms-1">
          <small *ngIf="form.get('apiNumber')?.hasError('required')">WaBA API Number is required</small>
          <small *ngIf="form.get('apiNumber')?.hasError('apiNumber')">Invalid WaBA API Number</small>
        </div>
      </div>

      <button type="submit"
        class="tw-btn-primary tw-rounded-[.25rem] tw-px-3 tw-py-[10px] tw-w-full tw-uppercase tw-text-white tw-text-[15px]"
        [disabled]="form.invalid">Submit</button>

    </form>
    <div class="tw-text-[14px] tw-text-[#6c757d] tw-text-center tw-mt-3">
      <a class="tw-text-[#6c757d] tw-text-[14px] tw-text-center tw-cursor-pointer hover:tw-text-gray-800 tw-capitalize"
        [routerLink]="['/login']">
        Back to login</a>
    </div>
  </div>
</div>
