<div class="container px-4 px-sm-0 ">
    <div class="row my-5 ">
        <div class="row p-0">
            <div class="col-12">
                <h1 class="tw-text-5xl fw-medium tw-text-blue-950 tw-mb-1">Queue Chat Customers & Default Assignee</h1>
                <div class="text-muted fw-medium">Manage your Queue Chat Customers & Set Default Assignee for Incoming
                    Messages</div>
            </div>
        </div>
        <div class="row tw-mt-5">
            <ul class="nav nav-pills tw-border-b-[1px] tw-border-gray-200 tw-box-content">
                <li class="nav-item">
                    <a class="nav-link tw-cursor-pointer"  routerLink="q-chate"
                        routerLinkActive="custom-tab-active">Queue Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tw-cursor-pointer" routerLink="chats-assignment"
                        routerLinkActive="custom-tab-active">Chats Assignment</a>
                </li>
            </ul>
        </div>
        
        <router-outlet></router-outlet>
    </div>