<div class="tw-mt-3">
    <div class="row tw-border-[1px] tw-rounded tw-border-[#e5e9f2]">
        <div class="col-md-12 col-12">
            <div class="tw-m-4">
                <div class="col-md-4 col-sm-4">
                    <h5 class="tw-mb-[5%] tw-font-bold">Assign To <span class="text-danger">*</span></h5>
                    <div class="tw-flex tw-gap-2">
                        <div class="gap-2 tw-flex tw-cursor-pointer">
                            <input type="radio" id="customRadiomanually1" name="customRadiomanually1" value="true">
                            <label class="custom-control-label" for="customRadiomanually1">Team Member</label>
                        </div>
                        <div class="gap-2 tw-flex tw-cursor-pointer">
                            <input type="radio" id="customRadiomanually2" name="customRadiomanually1" value="false">
                            <label class="custom-control-label" for="customRadiomanually2">Team</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tw-border-[1px] tw-rounded tw-border-[#e5e9f2] tw-m-3 tw-p-4 tw-gap-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Team Members">
                </div>
                <div class="list-group overflow400">
                    <a href="#"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        style="border: 0">
                        <div>Rohit Shettigar</div>
                    </a>
                    <a href="#"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active"
                        style="border: 0">
                        <div>Aman Rajput</div>
                        <span class="badge-pill">
                            <i class="fas fa-check text-success"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>